[Unit]
Description=%i service of rshinystatistics with docker-compose

[Service]
Restart=always
WorkingDirectory=/Users/gcc/rshinystatistics
# Remove old containers, pull images and build containers
ExecStartPre=/usr/local/bin/docker-compose -p rshinystatistics down -v
ExecStartPre=/usr/local/bin/docker-compose -p rshinystatistics pull %i
ExecStartPre=/usr/local/bin/docker-compose -p rshinystatistics build --force-rm %i
# Compose up
ExecStart=/usr/local/bin/docker-compose -p rshinystatistics up --no-build %i
# Compose down and restart
ExecStop=/usr/local/bin/docker-compose -p rshinystatistics down -v
ExecReload=/usr/local/bin/docker-compose -p rshinystatistics restart %i

[Install]
WantedBy=multi-user.target

